[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
urllib3 = "*"
pyside2 = "*"
protobuf = "*"
zeroconf = "*"
pychromecast = "*"
python-vlc = "*"

[dev-packages]

[requires]
python_version = "3.8"
